@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');
.container{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 1rem !important;
  }
.hidden-spacer {
    margin-top: 3rem;
}
.linksInsidePage{
  text-decoration: none !important;
  color: red;
  font-weight:bold !important;
}