@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

/* base styles */
* {
  margin: 0;
  color: #333;
  font-family: 'Quicksand'
}
/* 404 Page Not Found */
.not-found a{
  text-decoration: none;
}