@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');


.navbar-brand{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 2rem !important;
    text-decoration: none !important;
    color: white !important;
  }
  
  .navbar-nav{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 1.2rem !important;
  }
  
  .nav-link{
    text-decoration: none !important;
    color: white !important;
  }
  .style-link{
    text-decoration: none !important;
    color: white !important;
  }
  i{
    color: white !important;
  }